<% provide(:title, "Help") %>
<h1>Task Management System</h1>
<p class="mainpage_text">Task Management System (TMS) is a system designed for oblivious people to keep their tasks in one place! Use it wisely!</p>
