@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
        color: #d2dff4;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    
    a {
        color: #555;
        
        &:hover {
          color: #222;
        }
    }

    ul {
        float: right;
        list-style: none;

        li {
            float: left;
            margin-left: 15px;
        }
    }
}