@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
        color: #d2dff4;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    
    a {
        color: #555;
        
        &:hover {
          color: #222;
        }
    }

    ul {
        float: right;
        list-style: none;

        li {
            float: left;
            margin-left: 15px;
        }
    }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.row.sign_up {
    margin-left: 0;
    margin-right: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    font-size: 150%;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Tasks table */

.table-tasks {
  text-align: center;

  .edit_task, .delete_task,
  .edit_task_column, .delete_task_column {
    visibility: hidden;
  }
}


/* New Task Page */
div.datepicker {
  margin: auto;
}

