// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task_show_block {
    margin-top: 40px;
    font-size: 16px;

    .description_row {
        margin-top: 10px;
    }
}
.edit_button_row {
    margin-top: 20px;
}

.datepicker-dropdown {
    z-index: 1000000 !important;
}